@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';
// @import 'custom/custom';
@import 'fonts/font-awesome';

$grid-header: (
  columns: 12,
  gutter: 0,
  media: 600px,
);

$grid-section-1: (
  columns: 12,
  gutter: 0,
  media: 1050px,
);

$grid-caracteristicas: (
  columns: 12,
  gutter: 0,
  media: 550px,
);

$grid-carousel-1: (
  columns: 12,
  gutter: 0,
  media: 1080px,
);

$grid-carousel-2: (
  columns: 12,
  gutter: 0,
  media: 900px,
);

///////

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.title-1 {
  color: #08adc9;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: $font-bold;
  margin-bottom: $small-spacing / 2;
}

.cover-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  @include margin(0 auto);
}

#section-info {
  @extend .cover-img;

  background-image: url('../img/fondo-1.png');

  .container {
    width: 100%;

    @include grid-media($grid-section-1) {
      width: 950px;
    }
  }

  .seccion-1 {
    padding-top: $base-spacing * 4;
    padding-bottom: $base-spacing * 1.5;
    position: relative;
  }

  .caracteristicas {
    @include grid-container;

    padding-top: $base-spacing * 2;
    padding-bottom: $base-spacing * 2;

    li {
      text-align: center;
      margin-bottom: $base-spacing;

      img {
        width: 70%;
      }
    }

    @include grid-media($grid-caracteristicas) {
      li {
        @include grid-column(4);

        margin-bottom: 0;

        img {
          width: 90%;
        }
      }
    }
  }
}

#carousel-1,
#carousel-2 {
  position: relative;

  .carousel-item-1 {
    background-color: #c6e8fd;
  }

  .container {
    width: 80%;

    @include grid-media($grid-carousel-1) {
      width: 950px;
    }
  }
}

#carousel-2 {
  .item {
    @extend .cover-img;

    height: 1500px;
  }

  .carousel-item-2-1 {
    background-image: url('../img/fondo-2.png');
  }
}

#owl-demo {
  .item {
    @include grid-container;
    @include padding($base-spacing * 2 0);

    @include grid-media($grid-carousel-2) {
      @include padding($base-spacing * 5 0);
    }

    .info {
      padding-top: $base-spacing * 2;
      text-align: center;

      @include grid-media($grid-carousel-2) {
        @include grid-column(7);

        text-align: initial;
      }

      p {
        font-size: 1.6rem;
        font-weight: $font-semi-bold;
        line-height: 1.5;
      }
    }

    .img {
      text-align: center;

      @include grid-media($grid-carousel-2) {
        @include grid-column(5);

        text-align: initial;
      }
    }
  }
}

.customNavigation {
  .prev {
    position: absolute;
    left: 0;
    top: 40%;
  }

  .next {
    position: absolute;
    right: 0;
    top: 40%;
  }
}

header {
  @include padding($small-spacing * 3 $base-spacing * 2);

  .social {
    display: inline-block;

    li {
      display: inline-block;
      margin-right: $small-spacing;

      &:last-child {
        margin-right: 0;
      }

      img {
        height: 30px;
      }
    }
  }

  .logo {
    float: right;
    height: 20px;
  }

  @include grid-media($grid-section-1) {
    .logo {
      height: 45px;
    }

    .social {
      li {
        img {
          height: 35px;
        }
      }
    }
  }
}

// Video

.play-button {
  position: absolute;
  cursor: pointer;
  top: 45%;
}

.popup_prin {
  display: none;
}

.popup_prin video {
  background-color: $black;
  width: 100%;
  position: absolute;
  height: 100%;
  // top: -50px;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9;
}
