// Breakpoints
$medium-screen: 770px;
$large-screen: 900px;

// Typography
//$base-font-family: verdana, sans-serif;
$base-font-family: 'Open Sans', sans-serif;
$code-font-family: monospace, monospace;
$heading-font-family: $base-font-family;

// Font Sizes
$big-font-size: 1.3rem;
$base-font-size: 1rem;
$medium-font-size: .9rem;
$small-font-size: .7rem;

// Font weight
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;

// Header Styles
$h1-fontsize: 1.95rem !default;
$h2-fontsize: 1.45rem !default;
$h3-fontsize: 1.20rem !default;
$h4-fontsize: .95rem !default;
$h5-fontsize: .75rem !default;
$h6-fontsize: .35rem !default;

// Line height
$base-line-height: $major-sixth;
$heading-line-height: 1.2;
$auto-line-height: 1;

// Navbar
$navbar-height: 64px !default;

// Other Sizes
$base-border-radius: .35rem;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors

// Branding Colors
$designup-blue: #0099e5 !default;
$designup-green: #34bf49 !default;
$designup-red: #ff4c4c !default;
$designup-orange: #f47721 !default;
$designup-purple: #b84592 !default;
$designup-yellow: #ffd900 !default;

// Grayscale
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;
$black: #000;

// Base Colors
$primary-color: $designup-blue;
$secondary-color: $designup-red;

// Badge
$badge-bg-color: $secondary-color !default;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $primary-color;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: 0;
$form-box-shadow-focus: adjust-color($action-color, $lightness: -5%, $alpha: -.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Tooltips
$tooltip-background-color: rgba($black, .9);
$tooltip-text-color: $white;
