
$home-small: (
  columns: 12,
  gutter: 50px,
  media: 500px,
);

$home-medium: (
  columns: 12,
  gutter: 50px,
  media: 850px,
);

$home-big: (
  columns: 12,
  gutter: 50px,
  media: 1160px,
);

$custom-tree-grid: (
  columns: 12,
  gutter: 0,
  media: 1110px,
);

.cover-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  @include margin(0 auto);

  width: 980px;
}

#section-info {
  @extend .cover-img;

  background-image: url('../img/fondo-1.png');
}

header {
  @include padding($small-spacing * 3);

  

  .social {
    li {
      display: inline-block;

      img {
        width: 50px;
        height: auto;
      }
    }
  }
}
